[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-tenants = "*"
pillow = "*"
drf-extra-fields = "*"
drf-yasg = "*"
django-storages = {extras = ["google"], version = "*"}
boto3 = "*"
django-filter = "*"
docutils = "*"

[dev-packages]

[requires]
python_version = "3.9"
