{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'src/vue/dist/css/chunk-vendors.css' %}" rel="stylesheet">
        <link href="{% static 'src/vue/dist/css/app.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="app"></div>

        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
        <link href="{% static 'src/vue/dist/css/app.css' %}" rel=stylesheet>
    </body>
</html>