{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="{% url 'send_link_password' %}" method="post">
                {% csrf_token %}
                <label for="email">Introduzca su Email:</label>
                <input class="form-control mb-3" type="email" name="email" id="email">
                <button class="btn btn-danger d-block">Enviar</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}