{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- SECTION -->
<div id="app" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details" v-show="!use_secondary_address">
					<div class="section-title">
						<h3 class="title">Datos de Facturación</h3>
					</div>
					<div class="form-check form-switch" v-show="!!user_data.main_address">
						<input class="form-check-input" type="checkbox" v-model="use_different_info" role="switch" id="flexSwitchCheckChecked" checked>
						<label class="form-check-label" for="flexSwitchCheckChecked">Usar informacion diferente</label>
					</div>
					  
					<div class="d-flex mt-3" v-if="!use_different_info && !!user_data.main_address">
						<div class="col-lg-6">
							<!-- [[user_data]] -->
						<p class="fw-bold">Nombre</p>
						<p>[[user_data.first_name || 'No tiene']]</p>
						<p class="fw-bold">Apellido</p>
						<p>[[user_data.last_name || 'No tiene']]</p>
						<p class="fw-bold">Telefono</p>
						<p>[[user_data.phone_number || 'No tiene']]</p>
						</div>
						<div class="col-lg-6">
							<p class="fw-bold">Estado</p>
						<p>[[user_data.main_address?.region ]]</p>
						<p class="fw-bold">Municipio</p>
						<p>[[user_data.main_address?.subregion]]</p>
						<p class="fw-bold">Ciudad</p>
						<p>[[user_data.main_address?.city]]</p>
						<p class="fw-bold">Direccion Corta</p>
						<p>[[user_data.main_address?.short_address]]</p>
					</div>
					</div>
					<div v-show="use_different_info">
						<div class="form-group mt-3">
							<label for="">Nombre</label>
							<input :class="{'is-invalid':checkout_form.errors.name}" v-model="checkout_form.main_sending_address.name" class="form-control my-1 input" type="text" name="first-name">
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.name}">
								[[checkout_form.errors.name]]
							</div>
						</div>
						<div class="form-group mt-3">
							<label for="">Apellido</label>
							<input :class="{'is-invalid':checkout_form.errors.last_name}" v-model="checkout_form.main_sending_address.last_name" class="form-control my-1 input" type="text" name="last-name">
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.last_name}">
								[[checkout_form.errors.last_name]]
							</div>
						</div>
						<div class="form-group mt-3">
							<label for="">Numero telefónico</label>
							<input :class="{'is-invalid':checkout_form.errors.phone_number}" v-model="checkout_form.main_sending_address.phone_number" class="form-control my-1 input" type="tel" name="tel" >
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.phone_number}">
								[[checkout_form.errors.phone_number]]
							</div>
						</div>
						
						<div class="form-group mt-3" v-if="regions.length && use_different_info">
							<label for="">Estado</label>
							<select v-on:change="getSubRegionsData($event.target.value)" :class="{'is-invalid':checkout_form.errors.region}" v-model="checkout_form.main_sending_address.region" class="form-select my-1 input">
								<option disabled value="">Seleccione un Estado</option>
								<option v-for="region in regions" :value="region.name_ascii">[[region.name]]</option>
							</select>
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.region}">
								[[checkout_form.errors.region]]
							</div>
						</div>
						<div class="form-group mt-3" v-if="subregions.length && use_different_info">
							<label for="">Municipio</label>
							<select v-on:change="getCitiesData($event.target.value)":class="{'is-invalid':checkout_form.errors.subregion}" v-model="checkout_form.main_sending_address.subregion" class="form-select my-1 input" >
								<option disabled value="">Seleccione un Municipio</option>
								<option v-for="subregion in subregions" :value="subregion.name_ascii">[[subregion.name]]</option>
							</select>
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.subregion}">
								[[checkout_form.errors.subregion]]
							</div>
						</div>
						<div class="form-group mt-3" v-if="cities.length && use_different_info">
							<label for="">Ciudad</label>
							<select :class="{'is-invalid':checkout_form.errors.city}" v-model="checkout_form.main_sending_address.city" class="form-select my-1 input" >
								<option disabled value="">Seleccione una Ciudad</option>
								<option v-for="city in cities" :value="city.name_ascii">[[city.name]]</option>
							</select>
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.city}">
								[[checkout_form.errors.city]]
							</div>
						</div>
						<div class="form-group mt-3" v-if="isAddressFilled || !use_different_info">
							<label for="">Dirección de corta</label>
							<textarea :class="{'is-invalid':checkout_form.errors.short_address}" v-model="checkout_form.main_sending_address.short_address" class="form-control my-1 input" type="text" name="address" placeholder="Especificar donde hacer la entrega en caso de seleccionar envío"></textarea>
							<div class="invalid-feedback" :class="{'is-invalid':checkout_form.errors.short_address}">
								[[checkout_form.errors.short_address]]
							</div>
						</div>
					</div>
					
					
					
				</div>
				<div class="row mx-2 my-4">
					<h3 class="title">TIPO DE ENTREGA</h3>
					<div class="form-check">
						<input class="form-check-input" :class="{'is-invalid':checkout_form.errors.delivery_type}" type="radio" name="flexRadioDefault" value="delivery" v-model="delivery_type">
						<label class="form-check-label" for="flexRadioDefault1">
						Envío
						</label>
					  </div>
					  <div class="form-check">
						<input class="form-check-input" :class="{'is-invalid':checkout_form.errors.delivery_type}" type="radio" name="flexRadioDefault" value="personally" v-model="delivery_type">
						<label class="form-check-label" for="flexRadioDefault2">
						  Pick Up
						</label>
					</div>
					<div class="invalid-feedback" :class="{'d-block':checkout_form.errors.delivery_type}">
						[[checkout_form.errors.delivery_type]]
					</div>
				</div>

				<!-- Order notes -->
				<div class="order-notes">
					<small>Mencionar si hay algo que se debe hacer al momento de la entrega</small>
					<textarea class="input" placeholder="Observaciones de la Compra" v-model="checkout_form.message"></textarea>
				</div>
				<!-- /Order notes -->
			</div>

			<!-- Order Details -->
			<div class="col-md-5 order-details">
				
				<div class="section-title text-center">
					<h3 class="title">Tu orden</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCTO</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>
					<div class="order-products">
						<div class="order-col" v-for="item in cartItems">
							<div>[[item.quantity]]x [[item.product_details.name]]</div>
							<div>$[[item.quantity*item.product_details.price]]</div>
						</div>
					</div>
					<div class="order-col">
						<div>Envío</div>
						<div><strong>Gratis</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">$[[cartItemsTotal]]</strong></div>
					</div>
				</div>
				<div class="payment-method">
					<div class="input-radio">
						<input type="radio"  v-model="checkout_form.payment_type" value="pago_movil" name="payment" id="payment-1">
						<label for="payment-1">
							<span></span>
							Pago Movil
						</label>
						<div class="caption">
							<p>Al pagar se redirigira a una pagina para colocar la referencia de la operacion, una vez confirmada por nuestros operadores se procedera al envio.</p>
						</div>
					</div>
					<div class="input-radio">
						<input type="radio"  v-model="checkout_form.payment_type" name="payment" value="paypal" id="payment-2">
						<label for="payment-2">
							<span></span>
							Paypal
						</label>
						<div class="caption">
							<p>Te redirigira a la pagina de paypal para realizar el pago de la compra.</p>
						</div>
					</div>
					<div class="input-radio" v-if="false">
						<input type="radio"  v-model="checkout_form.payment_type" value="coinbase" name="payment" id="payment-3">
						<label for="payment-3">
							<span></span>
							Coinbase (Crypto)
						</label>
						<div class="caption">
							<p>Puedes pagar con una amplia variedad de criptomonedas gracias a coinbase commerce.</p>
							<p><a href="#crypto_options" @click="seeCryptoOptions">Click aqui para ver las monedas aceptadas.</a></p>
							<ul id="crypto_options" :class="{'d-block': show_crypto_options, 'd-none':!show_crypto_options}">
								<li>USDT</li>
								<li>BTC</li>
								<li>Bitcoin Cash</li>
								<li>Ethereum</li>
								<li>LTC</li>
								<li>DOGE</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="text-danger" :class="{'is-invalid':checkout_form.errors.accept_conditions}">
					[[checkout_form.errors.accept_conditions]]
				</div>
				<div class="input-checkbox">
					<input type="checkbox" v-model="accept_conditions" id="terms">
					<label for="terms">
						<span></span>
						leí y acepto los <a href="{% url 'conditions' %}">Términos y condiciones</a>
					</label>
					
					
				</div>
				<div class="input-checkbox mt-2">
					<input type="checkbox" v-model="save_billing_info" id="save_shipping_info">
					<label for="save_shipping_info">
						<span></span>
						Usar la informacion suministrada para futuras compras
					</label>
				</div>
				<div class="mt-3" v-show="checkout_form.payment_type == 'paypal'" id="paypal-button-container"></div>
				<div v-show="checkout_form.payment_type != 'paypal'">
					<button href="" @click="goToPay" class="primary-btn order-submit d-block w-100">[[buttonTextSale]]</button>
				</div>
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<script>
axios.defaults.xsrfHeaderName = 'X-CSRFToken';
axios.defaults.xsrfCookieName = 'csrftoken';

const app = new Vue({
	delimiters: ["[[","]]"],
	el: "#app",
	data(){
		return{
			// Direccion del usuario
			user_data:{},
			selected_user_address:null,
			address_list:[],
			// Checkout
			cartItems: [],
			cartItemsTotal:0,
			cities:[],
			regions:[],
			subregions:[],
			loading: false,
			total_pages_items:0,
			delivery_type: '',
			save_billing_info: false,
			use_secondary_address: false,
			use_different_info: false,
			next_page: null,
			show_crypto_options:false,
			previous_page: null,
			accept_conditions: false,
			product_count: 0,
			checkout_form: {
				errors:{

				},
				main_sending_address:{
					name: "",
					last_name: "",
					short_address: "",
					region: "",
					city: "",
					subregion: "",
					phone_number: "",
				},
				secondary_sending_address:{
					name: "",
					last_name: "",
					short_address: "",
					region: "",
					city: "",
					subregion: "",
					phone_number: "",
				},
				payment_type: "",
				message: "",

			}

		}
	},
	methods: {
		seeCryptoOptions(){
			this.show_crypto_options = !this.show_crypto_options
			console.log(this.show_crypto_options)
		},
		checkForm(){
			this.checkout_form.errors = []
			let form = this.use_secondary_address ? this.checkout_form.secondary_sending_address : this.checkout_form.main_sending_address
			if (!this.accept_conditions){
				this.checkout_form.errors={...this.checkout_form.errors,accept_conditions:"Debe aceptar los Terminos y Condiciones"}
			}
			if(!this.delivery_type.length){
				this.checkout_form.errors = {...this.checkout_form.errors, delivery_type: "Este Campo es requerido"}
			}
			if (!this.use_different_info){
				return true
			}
			if (!form.name.length){
				this.checkout_form.errors = {...this.checkout_form.errors, name:"Este Campo es requerido"}
			}
			if (!form.last_name.length){
				this.checkout_form.errors = {...this.checkout_form.errors, last_name:"Este Campo es requerido"}
			}
			if (!form.short_address.length){
				this.checkout_form.errors = {...this.checkout_form.errors, short_address:"Este Campo es requerido"}
			}
			if (!form.region.length){
				this.checkout_form.errors = {...this.checkout_form.errors, region:"Este Campo es requerido"}
			}
			if (!form.subregion.length){
				this.checkout_form.errors = {...this.checkout_form.errors, subregion:"Este Campo es requerido"}
			}
			if (!form.phone_number.length){
				this.checkout_form.errors = {...this.checkout_form.errors, phone_number: "Este Campo es requerido"}
			}
			
			console.log(JSON.stringify(this.checkout_form, null,2))
			return !Object.keys(this.checkout_form.errors).length
		},	
		getCartItems(){
			axios.get("/api/cart/").then(data=>{
				this.cartItems = data.data.results
				this.cartItemsTotal = Array.from(data.data.results).reduce((a, item)=>{
					return (item.product_details.price||0) *item.quantity + a
				},0)
				console.log(this.cartItemsTotal)
			})
		},
		paymentData(){
			console.log(this.checkForm())
			if (!this.checkForm()){
				return
			}
			this.loading = true
			// let form = this.use_secondary_address ? this.checkout_form.secondary_sending_address : this.checkout_form.main_sending_address
			let form = this.checkout_form.main_sending_address

			let user_data = {}
			console.log(form)
			let data = {
				name: form.name,
				last_name: form.last_name,
				region: form.region,
				city: form.city,
				subregion: form.subregion,
				short_address: form.short_address,
				phone_number: form.phone_number,
				short_address: form.short_address,
				delivery_type: this.delivery_type,
				phone_number: form.phone_number,
				payment_type: this.checkout_form.payment_type,
				aditional_info: this.checkout_form.message || null,
				save_billing_info: this.save_billing_info
				
			}
			// if (!this.use_different_info){
			// 	data = {...data, }
			// }
			console.log("form condition", !this.use_different_info && !!this.user_data.main_address)
			if (!this.use_different_info && !!this.user_data.main_address){
				// no querer usar informacion diferente y usar la data del usuario
					data = {...data,
					name: this.user_data.first_name,
					last_name: this.user_data.last_name,
					region: this.user_data.main_address?.region,
					city: this.user_data.main_address?.city,
					subregion: this.user_data.main_address?.subregion,
					short_address: this.user_data.main_address?.short_address,
					phone_number: this.user_data.phone_number,
					user_address: this.selected_user_address
				}
			}
			return data
		},
		goToPay(){
			data = this.paymentData()
			console.log("data para mandar",data)
			
			axios.post("/api/payment/",data, {withCredentials:true})
			.then((res)=>{
				window.location.href= res.data.href+res.data.order
			})
			.catch((err)=>{
				console.log(err.response.data)
			})
			.finally((res)=>{
				this.loading = false
			})
		},
		getUserInfo(){
			axios.get("/api/same_user/")
			.then((res)=>{
				this.user_data = res.data.results[0]
				this.selected_user_address = this.user_data.main_address?.id
				this.use_different_info = !this.selected_user_address				
			})
		},
		getRegionsData(){
			this.cities = []
			this.subregions = []
			axios.get("/cities_light/api/regions/")
			.then((res)=>{
				this.regions = res.data.results.map((region)=>{
					return region
				})
				console.log(this.regions)
			})
		},
		getCitiesData(subregion){
			axios.get("/api/cities/?subregion="+subregion)
			.then((res)=>{
				this.cities = res.data.results.map((city)=>{
					return city
				})
				console.log(this.cities)
			})
		},		
		getSubRegionsData(region){
			this.cities = []
			axios.get("/api/subregions/?region="+region)
			.then((res)=>{
				this.subregions = res.data.results.map((subregion)=>{
					return subregion
				})
				console.log(this.subregions)
			})
		}
		
	},
	mounted(){
		paypal.Buttons({
        // Order is created on the server and the order id is returned
        createOrder: (data, actions) => {
		data = this.paymentData()
		console.log(data)
          return axios.post("/api/payment/", data,{withCredentials:true} 
            // use the "body" param to optionally pass additional order information
            // like product ids or amount
          )
          .then((response) => response.data)
          .then((order) => order.id);
        },
        // Finalize the transaction on the server after payer approval
        onApprove: (data, actions) => {
          return axios.post(`/api/paypal/orders/${data.orderID}/capture/`,{},{withCredentials:true})
          .then((response) => response.data)
          .then((orderData) => {
			// TODO: Mostrar modal y redirigir a ordenes pagadas
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
			
            document.location.href = orderData.redirect_to
            
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');
		this.getCartItems()
		this.getUserInfo()
		this.getRegionsData()
	},
	computed:{
		isAddressFilled(){
			return this.regions.length && this.subregions.length
		},
		buttonTextSale(){
			return this.loading ? 'Cargando...' : 'Finalizar Compra'
		}
	}
})

</script>
{% endblock %}
