{% extends "base.html" %}
{% load static %}
{% block content %}
		<!-- SECTION -->
		<div class="section" id="app">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					
					<div class="col-md-5 col-md-push-2">

						<div id="product-main-img">
							<div class="product-preview">
								<img src="{% if object.thumbnail %}{{object.thumbnail.url}}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="">
							</div>
							{% for img in object.photos.all %}
								<div class="product-preview">
									<img src="{% if img.file %}{{img.file.url}}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{% if object.thumbnail %}{{object.thumbnail.url}}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="">
							</div>
							{% for img in object.photos.all %}
								<div class="product-preview">
									<img src="{% if img.file %}{{img.file.url}}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{object.name}}</h2>
							<div>
								
								<div class="product-rating">
								{% for score in score_range %}
									<i class="fa fa-star"></i>
								{% endfor %}
								{% for score in score_range_left %}
									<i class="fa fa-star-o"></i>
								{% endfor %}
								</div>
								<a class="review-link" href="#">{{object.reviews.count}} Reseña(s)</a>
							</div>
							<div>
								<h3 class="product-price">${{object.price}} {% if object.get_discount %}<del class="product-old-price">$990.00</del>{% endif %}</h3>
								<span class="product-available">En Stock</span>
							</div>
							<p>{{object.description}}</p>

							<div class="product-options">
								<label>
									Size
									<select class="input-select">
										<option value="0">X</option>
									</select>
								</label>
								<label>
									Color
									<select class="input-select">
										<option value="0">Rojo</option>
									</select>
								</label>
							</div>

							<div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Agregar al Carrito</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> Agregar a lista de deseos</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> Comparar</a></li>
							</ul>

							<ul class="product-links">
								<li>Categoría:</li>
								<li><a href="#">{{object.category}}</a></li>
								
							</ul>

							<ul class="product-links">
								<li>Compartir:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav nav nav-tabs justify-content-center">
								<li>
									<a class="active" data-bs-toggle="tab" data-bs-target="#tab1" href="#tab1">Descripcion</a>
								</li>
								<li>
									<a data-bs-toggle="tab" data-bs-target="#tab3" href="#tab3">Reseñas ([[review_count || "0"]])</a>
								</li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content" style="min-height: 600px;">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade-in active">
									<div class="row">
										<div class="col-md-12">
											<p>{{object.description}}</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade-in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>{{object.rating}}</span>
													<div class="rating-stars">
														{% for score in score_range %}
														<i class="fa fa-star"></i>
														{% endfor %}
														{% for score in score_range_left %}
														<i class="fa fa-star-o"></i>
														{% endfor %}
													</div>
												</div>
												<ul class="rating">
													<li>
														
														<div class="rating-stars">
															<i v-for="score in 5" :class="{'fa':true, 'fa-star':score<=5,'fa-star-o':score>5}"></i>
														</div>
														<div class="rating-progress">
															<div :style="{width: [[100/5*review_by_stars.five < 100 ? 100/5*review_by_stars.five : 100 ]]+'%'}"></div>
														</div>
														<span class="sum">[[review_by_stars.five]]</span>
													</li>													
													<li>
														
														<div class="rating-stars">
															<i v-for="score in 5" :class="{'fa':true, 'fa-star':score<=4,'fa-star-o':score>4}"></i>
														</div>
														<div class="rating-progress">
															<div :style="{width: [[100/5*review_by_stars.four < 100 ? 100/5*review_by_stars.four : 100 ]]+'%'}"></div>
														</div>
														<span class="sum">[[review_by_stars.four]]</span>
													</li>													
													<li>
														
														<div class="rating-stars">
															<i v-for="score in 5" :class="{'fa':true, 'fa-star':score<=3,'fa-star-o':score>3}"></i>
														</div>
														<div class="rating-progress">
															<div :style="{width: [[100/5*review_by_stars.three < 100 ? 100/5*review_by_stars.three : 100 ]]+'%'}"></div>
														</div>
														<span class="sum">[[review_by_stars.three]]</span>
													</li>													
													<li>
														
														<div class="rating-stars">
															<i v-for="score in 5" :class="{'fa':true, 'fa-star':score<=2,'fa-star-o':score>2}"></i>
														</div>
														<div class="rating-progress">
															<div :style="{width: [[100/5*review_by_stars.two < 100 ? 100/5*review_by_stars.two : 100 ]]+'%'}"></div>
														</div>
														<span class="sum">[[review_by_stars.two]]</span>
													</li>													
													<li>
														
														<div class="rating-stars">
															<i v-for="score in 5" :class="{'fa':true, 'fa-star':score<=1,'fa-star-o':score>1}"></i>
														</div>
														<div class="rating-progress">
															<div :style="{width: [[100/5*review_by_stars.one < 100 ? 100/5*review_by_stars.one : 100 ]]+'%'}"></div>
														</div>
														<span class="sum">[[review_by_stars.one]]</span>
													</li>													
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">

												<div v-if="loading" class="d-flex justify-content-center  align-items-center w-100 mb-5" style="height: 600px;">
													<div class="spinner-border text-danger" style="width: 6rem; height: 6rem;" role="status">
														<span class="sr-only">Loading...</span>
													</div>
												</div>
												<ul v-if="!loading" class="reviews" style="height: 600px;">
												<h4 v-if="!reviews.length"class="my-5">
												Aun no hay reseñas, ¡Sé el primero en añadir una!
												</h4>
													<li class="my-5" v-for="review in reviews">
														<div class="review-heading">
															<h6 v-if="!review.user.first_name && !review.user.last_name" class="name">Usuario sin nombre</h6>
															<h5 v-if="review.user.first_name" class="name">[[review.user.first_name]]</h5>

															<p class="date">[[review.created_at]]</p>
															<div class="review-rating">
																	<i v-for="point in 5" v-bind:class="{'fa fa-star':point <= review.score,'fa fa-star-o empty':point > review.score}" class=""></i>											
															</div>
														</div>
														<div class="review-body">
															<p>[[review.content]]</p>
														</div>
													
												</ul>
												<ul class="reviews-pagination" v-if="reviews.length">
													<li v-for="page in total_pages_review" v-bind:class="{active: page === current_page}"><a @click="fillReviews(page)">[[page]]</a></li>
													<li v-if="next_page_review"><a @click="fillReviews(current_page+1)"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->
										{% if request.user.is_authenticated %}
										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<textarea v-model="review_form.message" class="input" placeholder="Tu reseña"></textarea>
													<div class="input-rating">
														<span>Tu valoración: </span>
														<div class="stars">
															<input id="star5" v-model="review_form.score" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" v-model="review_form.score" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" v-model="review_form.score" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" v-model="review_form.score" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" v-model="review_form.score" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<small class="text-danger d-block" v-for="error in this.review_form.errors"><i class="fa fa-warning"></i>  [[error]]</small>
													<button @click="sendReview($event)" type="submit" class="primary-btn">Enviar</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
										{% endif %}
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
			
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Productos Relacionados</h3>
						</div>
					</div>
				</div>
				
				<div class="row {% if related_products.count >= 4 %}autoplay{% endif %}">
					{% for product in related_products %}
					<!-- product -->
					
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-3">
							<a href="{% url 'product_detail' product.store.slug product.product_slug %}">
							<div class="product">
								<div class="product-img product-img-store">
									<img src="{% if product.thumbnail %}{{product.thumbnail.url}}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="">
									<div class="product-label">
										{% if product.get_discount %}<span class="sale">-product.get_discount%</span>{% endif %}
										<span class="new">{{product.condition}}</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category">{{product.category}}</p>
									<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
									<h4 class="product-price">{% if product.price %}${% endif %}{{product.price|default_if_none:"Gratis"}} {% if product.get_discount%}<del class="product-old-price">${{product.get_discount}}</del>{% endif %}</h4>
									<div class="product-rating">
										{% for score in score_range %}
											<i class="fa fa-star"></i>
										{% endfor %}
										{% for score in score_range_left %}
											<i class="fa fa-star-o"></i>
										{% endfor %}
									</div>
									<div class="product-btns">
										<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Agregar a lista de deseos</span></button>
										<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Comparar</span></button>
										<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
									</div>
								</div>
								<div class="add-to-cart">
									<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Agregar al Carrito</button>
								</div>
							</div>
						</a>
						</div>
						<!-- /product -->

						{% empty %}
						<div class="d-flex flex-column justify-content-center">
							<h4>Ups!</h4>
							<img src="{% static 'img/no_results.svg' %}" class="w-25" alt="">
							<h4 class="pt-2">Sin resultados</h4>
						</div>
					{% endfor %}
					

				</div>
				<!-- /row -->
				
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		
		
	<script>
	const app = new Vue({
		delimiters: ['[[', ']]'],
		el:"#app",
		data(){
			return {
			reviews: [],
			loading: true,
			product_id: null,
			total_pages_review:0,
			next_page_review:null,
			review_by_stars: {
				five:0,
				four:0,
				three:0,
				two:0,
				one:0
			},
			previous_pages_review:null,
			current_page:null,
			review_count:0,
			current_details:"details",
			review_form:{
				errors:[],
				message: null,
				score: 0,
				product: parseInt("{{object.pk}}")
			}
			}
		},
		mounted(){
			this.fillReviews()
			axios.get("/api/product/{{object.id}}")
			.then((data)=>{
				this.review_by_stars = data.data.review_list_by_stars
			})
			.catch((error)=>{
				console.log(error)
			})
		},
		methods:{
			checkForm(){
				this.review_form.errors = []
				if (this.review_form.product && this.review_form.score > 0 && this.review_form.message){
					return true
				}
				if (!this.review_form.product){
					this.review_form.errors.push("el producto a enviar es inválido")
				}
				if (this.review_form.score <= 0){
					this.review_form.errors.push("la puntuación debe ser mayor a cero")
				}
				if (!this.review_form.message){
					this.review_form.errors.push("la reseña no puede estar vacía")
				}

			},
			fillReviews(page=null){
				this.loading = true
				axios.get("/api/review/?product={{object.id}}", {params:{"page":page}})
				.then((data)=>{
				this.reviews = data.data.results
				this.total_pages_review = data.data.total_pages
				this.review_count = data.data.count
				this.next_page_review = data.data.next
				this.previous_page_review = data.data.previous
				this.current_page = data.data.current_page
				this.loading = false
			})
			},
			sendReview(event){
				_this = this
				event.preventDefault()
				if (!_this.checkForm()){
					return false
				}
				console.log(_this.review_form)
				axios.defaults.xsrfHeaderName = 'X-CSRFToken'
				axios.defaults.xsrfCookieName = 'csrftoken'
				axios.post("/api/review/", {
					title: null,
					content:_this.review_form.message,
					score: _this.review_form.score,
					product: 11
			},{withCredentials:true,}).then(()=>{
				_this.fillReviews()
			}).catch(function(error){
				console.log(_this.review_form.errors)
				_this.review_form.errors.push(error.response.data[0])
			})
			
		}
	}
	})
	</script>


{% endblock %}