{% extends 'base.html' %}
{% load static %}

{% block content %}
		<!-- SECTION -->
		<div class="section p-0" id="register-app">
			<!-- container -->
			
			<div class="container mb-5" style="margin-left: 120px;">
				<!-- row -->
				
				<div class="row justify-content-center align-items-center" style="min-height: 450px;">
					<!-- Paso 1 -->
					<Transition mode="out-in" appear>
						<div key=1 v-if="step == 1" class="col-md-12" >
							<h3>Bienvenido a MLS Shop</h3>
							<p>Este asistente lo guiara para registrarse, como primera pregunta nos gustaria saber como quisiera registrarse:</p>
							<div class="text-danger">
								<p>[[errors.user_type]]</p>
							</div>
						
							<div class="d-flex justify-content-center">
								<div class="border rounded col-md-4 p-2 m-2 d-flex flex-column" :class="{'text-danger border-danger':!!errors.user_type}" style="height: 280px;">
									<img src="{% static 'img/customer.svg' %}" class="w-75 h-75 mb-2" alt="">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="user_type" value="customer" v-model="user_type">
										<label class="form-check-label" for="flexRadioDefault1">
											Cliente
										</label>
									</div>
								</div>
								<div class="border rounded col-md-4 p-2 m-2 d-flex flex-column" :class="{'text-danger border-danger':!!errors.user_type}" style="height: 280px;">
									<img src="{% static 'img/shop.svg' %}" class="w-75 h-75 mb-2" alt="">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="user_type" value="shop" v-model="user_type">
										<label class="form-check-label" for="flexRadioDefault1">
											Tienda
										</label>
									</div>
								</div>
								<div class="border rounded col-md-4 p-2 m-2 d-flex flex-column" :class="{'text-danger border-danger':!!errors.user_type}" style="height: 280px;">
									<img src="{% static 'img/freelance.svg' %}" class="w-75 h-75 mb-2" alt="">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="user_type" value="freelance" v-model="user_type">
										<label class="form-check-label" for="flexRadioDefault1">
											Freelance
										</label>
									</div>
								</div>
						
							</div>
							<div v-show="user_type == 'customer'" class="text-bold">
								<p >
									Al registrarte como cliente podras realizar compras en la plataforma, independientemente de la que tienda sea el
									producto que selecciones, tu carrito podra tener cualquier tipo de producto o servicio.
								</p>
							</div>
							<div v-show="user_type == 'shop'" class="text-bold">
								<p >
									Al registrarte como Tienda podras comercializar tus productos en la plataforma y ser elegible para convertirte en
									franquicia.
								</p>
							</div>
							<div v-show="user_type == 'freelance'" class="text-bold">
								<p >
									Al registrarte como Freelance podras obtener premios asesorando a compradores en la plataforma.
								</p>
							</div>
						</div>
						<div key=2 v-if="step == 2 && user_type == 'shop'" class="col-md-4"  >
							<h3>Excelente, ahora rellena los datos de tu tienda!</h3>
							<div class="m-2">
								<label for="">Nombre de la Empresa: <span class="text-danger">*</span></label>
								<input class="form-control" type="text" :class="{'is-invalid':this.errors.company_name}" name="" v-model="company_name">
							</div>
							<div class="m-2">
								<label for="">Cantidad de Empleados: <span class="text-danger">*</span></label>
								<select class="form-select" name="" :class="{'is-invalid':this.errors.company_employee_number}" v-model="company_employee_number">
									<option value="1-10">1 a 10 empleados</option>
									<option value="10-50">10 a 50 empleados</option>
									<option value="50-250">50 a 250 empleados</option>
									<option value=">=250">Mayor a 250 empleados</option>
								</select>
							</div>
							<div class="m-2">
								<label for="">Ingreso Anual:</label><small>estimado, sin contar impuestos</small>
								<input class="form-control" type="number" min='0' v-model="company_anual_income">
							</div>
						</div>
						<!-- Fin paso 2 Empresa -->
					<!-- Paso 3 Empresa -->
					<div key=3 v-if="step == 3 && user_type == 'shop'" class="col-md-6">
						<h3>Seleccione la categoria principal de la empresa:</h3>
						<small>Esto nos ayuda a mejorar la busqueda para el usuario:</small>
						<div class="form-floating my-3">
							<input type="email" class="form-control" id="floatingInput" placeholder="Buscar">
							<label for="floatingInput">Buscar</label>
						  </div>
						<div class="my-2" style="height:15rem;overflow-y: scroll;">
							
							
						</div>
						
					</div>
					<!-- Fin paso 3 Empresa -->
					</Transition>
					
					
					
					<!-- Paso 2 Persona -->
					<div v-show="(step == 2 && user_type == 'customer') || (step == 4 && user_type == 'shop')" class="col-md-4">
						<div class="my-2">
							<label for="">Nombre:</label>
							<input v-model="name" type="text" class="form-control" name="name">
						</div>
						<div class="my-2">
							<label for="">Apellido:</label>
							<input v-model="last_name" type="text" class="form-control" name="last_name">
						</div>
						<div class="my-2">
							<label for="email">Correo Electrónico:</label>
							<input v-model="email" class="form-control" type="text" name="email">
						</div>
						<!-- has-error como clase para señalar que hubo un error en el campo -->
						<div class="my-2">
							<label for="password">Contraseña:</label>
							<input class="form-control" type="password" name="password">
						</div>
						<div class="my-2">
							<label for="password">Repite Contraseña:</label>
							<input class="form-control" type="password" name="password">
						</div>
					</div>
					<!-- Fin paso 2 Persona-->

					
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-center">
						<div v-show="step > 1" v-on:click="decreaseStep()" class="m-2"><button type="submit" class="primary-btn secondary-btn">Atras</button></div>
						<div class="m-2"><button v-on:click="increaseStep()" class="primary-btn">Siguiente</button></div>
					</div>
					
				</div>		
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<script>
			const registerapp = new Vue({
				el:"#register-app",
				delimiters:["[[","]]"],
				data(){
					return {
						in_transition:false,
						name:"",
						last_name:"",
						email:"",
						password:"",
						password_repeat:"",
						user_type:"",
						company_name:"",
						company_employee_number:"",
						company_anual_income:"",
						company_main_category: null,
						company_phone_number:"",
						company_logo:"",
						company_category:"",
						tags:"",
						step: 1,
						max_step:3,
						email_send_consent: false,
						errors:{}
					}
				},
				methods:{
					transitionOn(){
						this.in_transition = true
					},
					transitionOff(){
						this.in_transition = false
					},
					decreaseStep(){
						
						if (this.step<=1){
							this.step=1
							return
						}
						this.step--
					},
					increaseStep(){
						if (!this.checkForm()){
							return
						}
						if (this.step>=this.max_step){
							this.step=this.max_step
							return
						}
						this.animation = 'animate-out';
						setTimeout(() => {
							this.animation = 'animate-in';
							this.activeStep += 1;
						}, 600);
						this.step++
					},
					checkCompanyData(){
						if (this.user_type !== "shop"){
							return
						}
						if (this.step == 2){
							if (!this.company_name){
								this.errors = {...this.errors, company_name:"Este campo es requerido"}
							}
							if (!this.company_employee_number){
								this.errors = {...this.errors, company_employee_number:"este campo es requerido"}
							}
						}
						if (this.step == 3){
							if (!this.company_main_category){
								this.errors = {...this.errors, company_name: "Este campo es requerido"}
							}
						}
					},
					checkUserData(){
						let is_freelance_step = this.user_type == "freelance" && this.step == null
						let is_company_step = this.user_type == "shop" && this.step == 4

						if(this.user_type == "customer" && this.step == 2){
							if (!this.name){
								this.errors = {...this.errors, user_type:"Debe seleccionar un tipo de cliente para continuar"}
							}
						}
					},
					checkForm(){
						this.errors = {}
						if (!this.user_type){
							this.errors = {...this.errors, user_type:"Debe seleccionar un tipo de cliente para continuar"}
						}
						this.checkCompanyData()
						this.checkUserData()
						console.log(JSON.stringify(this.errors))
						return Object.keys(this.errors).length == 0;
					},
				}
			})
		</script>
{% endblock %}