{% extends "base.html" %}
{% load static %}


{% block content %}

		<!-- SECTION -->
		<div class="section">
			
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categorías</h3>
							<div class="checkbox-filter">
								
									{% for category in category_list %}
										<div class="input-checkbox">
											<input type="checkbox" onclick="setCategoryFilter(event)" value="{{category.id}}" {% if category.id in category_param_list %}checked{% endif %} id="category-{{category.id}}">
											<label for="category-{{category.id}}">
												<span></span>
												{{category.name}}
												<small>({{category.products.count}})</small>
											</label>
										</div>
									{% endfor %}
								
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Precio</h3>
							<div class="price-filter">
								<form onsubmit="setPriceFilter(event)" method="get">

									<div id="price-slider"></div>
										<div class="d-flex flex-row">
											<div class="input-number price-min">
												<input id="price-min" name="min_price" type="number">
												<span class="qty-up">+</span>
												<span class="qty-down">-</span>
											</div>
											<span>-</span>
											<div class="input-number price-max">
												<input id="price-max" name="max_price" type="number">
												<span class="qty-up">+</span>
												<span class="qty-down">-</span>
											</div>
										</div>
										<div class="d-grid gap-2 pt-3">
											<button class="btn btn-danger" type="submit">Filtrar</button>
										  </div>
								</form>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Marcas</h3>
							<div class="checkbox-filter">
								
								{% for brand in brand_list %}
									<div class="input-checkbox">
										<input type="checkbox" onclick="setBrandFilter(event)" value="{{brand.id}}" {% if brand.id in brand_param_list %}checked{% endif %} id="brand-{{brand.id}}">
										<label for="brand-{{brand.id}}">
											<span></span>
											{{brand.name}}
											<small>({{brand.products.count}})</small>
										</label>
									</div>
								{% endfor %}
								
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside" id="aside-app">
							<h3 class="aside-title">Más vendidos</h3>
							<div class="product-widget row border w-100 h-50 mx-0" v-for="item in items">
								<div class="col-5 p-0 overflow-hidden" style="height:115px">
									<img :src="!!item.thumbnail ? item.thumbnail : no_result_img" :style="{'transform': 'scale('+1000/getImageSize(item.thumbnail)+')', 'height': '100%'}" alt="">
									
								</div>
								<div class="product-body col-5">
									<p class="product-category">[[item.category.name]]</p>
									<h3 class="product-name"><a href="#">[[item.name]]</a></h3>
									<h4 class="product-price" v-if="!!item.price">$ [[item.price]]</h4>
									<h4 class="product-price" v-else>Gratuito</h4>
									<!-- <h4 class="product-price">$ [[item.product_details.price]] <del class="product-old-price">$</del></h4> -->
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Ordenar por:
									<select class="input-select" id="order-select" placeholder="Seleccione"onchange="orderBy(event)">
										<option value="popular">Popularidad</option>
										<option value="-created_at">Recientes</option>
										<option value="price">Asc. Precio</option>
										<option value="-price">Desc. Precio</option>
									</select>
								</label>
							</div>
							{% if request.GET %}
							<ul class="store-grid">
								<a href="{% if current_store %}{% url 'store_list' current_store.slug %}{% else %}{% url 'main_store_list' %}{% endif %}" class="btn btn-danger"><i class="fa fa-minus-circle"></i> Borrar filtros</a>
							</ul>
							{% endif %}
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row" id="product-list">
							{% for product in object_list %}
							<!-- product -->
							<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
									<a href="{% url 'product_detail' product.store.slug product.product_slug %}">
									<div class="product">
										<div class="product-img product-img-store">
											<img src="{% if product.thumbnail %}{{product.thumbnail.url}}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="">
											<div class="product-label">
												{% if product.get_discount %}<span class="sale">-product.get_discount%</span>{% endif %}
												<span class="new">{{product.get_condition_display}}</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{product.category|default_if_none:"Sin Categoría"}}</p>
											<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
											<h4 class="product-price">{% if product.price %}${% endif %}{{product.price|default_if_none:"Gratis"}} {% if product.get_discount%}<del class="product-old-price">${{product.get_discount}}</del>{% endif %}</h4>
											<div class="product-rating">
												{% for score in score_range %}
													<i class="fa fa-star"></i>
												{% endfor %}
												{% for score in score_range_left %}
													<i class="fa fa-star-o"></i>
												{% endfor %}
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist" onclick="addToWishlist(event,'{{product.id}}')"><i class="fa fa-heart-o"></i><span class="tooltipp">Agregar a lista de deseos</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn" onclick="addToCart(event, '{{product.id}}')"><i class="fa fa-shopping-cart"></i> {% if product.id in products_cart %} Eliminar del carrito{% else %}Agregar al Carrito{% endif %}</button>
										</div>
									</div>
								</a>
								</div>
								<!-- /product -->

								{% empty %}
								<div class="d-flex flex-column justify-content-center">
									<h4>Ups!</h4>
									<img src="{% static 'img/no_results.svg' %}" class="w-25" alt="">
									<h4 class="pt-2">Sin resultados</h4>
								</div>
							{% endfor %}
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Mostrando 20-{{object_count}} productos</span>
							<ul class="store-pagination">
								{% for pages in page_obj.paginator %}
									{% if pages.number == page_obj.number %}
										<li class="active">{{pages.number}}</li>
									{% else %}
										<li><a href="{% if current_store %}{% url 'store_list' current_store.slug %}{% else %}{% url 'main_store_list' %}{% endif %}?page={{pages.number}}&{% for query,value in request.GET.items %}{% if query != 'page' %}{{query}}={{value}}&{% endif %}{% endfor %}">{{pages.number}}</a></li>
										<!-- <li><a href="#"><i class="fa fa-angle-right"></i></a></li> -->
									{% endif %}
								{% endfor %}
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<script>
			axios.defaults.xsrfHeaderName = 'X-CSRFToken';
			axios.defaults.xsrfCookieName = 'csrftoken';
			document.addEventListener("DOMContentLoaded", function(){
				let order_select = document.querySelector("#order-select");
				const url = new URL(window.location.href);
				let value = url.searchParams.get("o");
				order_select.value = value !== null ? value : "popularity";
			})
			const data = {
				order_by: null,
				modal_message: null,
				login_url:"{% url 'login' %}"
			}
			const app = new Vue({
				el:"#aside-app",
				delimiters: ["[[","]]"],
				data(){
					return {
						items : [],
						count: 0,
						loading: true,
						no_result_img: "{% static 'img/no-photo.png' %}"
					}
				},
				methods:{
					getImageSize(img_url){
						let img = new Image();
						img.src = img_url
						return img.height
					}
				},
				mounted(){

					axios.get("/api/most_sold/")
					.then((res)=>{
						console.log(res.data)
						this.items = res.data
						this.loading = false
					})
				}
			})
			function addToCart(event, product_id){
				axios.post("/api/cart/",{product: product_id, quantity: 1}, {withCredentials:true})
				.then((data)=>{
					if(data.status == 201){
						let modal_body = document.querySelector("#modal-body");
						modal_body.innerHTML = `<p>Producto Agregado a tu Carrito!</p>`
						const myModalAlternative = new bootstrap.Modal('#Modal')
						myModalAlternative.show()
						event.target.innerText = "Eliminar del carrito";
					}else if(data.status == 204){
						let modal_body = document.querySelector("#modal-body");
						modal_body.innerHTML = `<p>Producto Eliminado de tu Carrito!</p>`
						const myModalAlternative = new bootstrap.Modal('#Modal')
						myModalAlternative.show()
						event.target.innerText = "Agregar al carrito";
					}
				})
				.catch((error)=>{
					console.log(error);
					data.modal_message = error;
					let modal_body = document.querySelector("#modal-body");
					modal_body.innerHTML = `<p>${Object.entries(error.response.data)}</p>`
					const myModalAlternative = new bootstrap.Modal('#Modal');
					myModalAlternative.show();
				})
				.finally((res)=>{
					getCartItems();
				})
			}
			function addToWishlist(event, product_id){
				axios.post("/api/wishlist/",{product_id: product_id}, {withCredentials:true})
				.then((data)=>{
					console.log(data.data);
					let modal_body = document.querySelector("#modal-body");
					modal_body.innerHTML = `<p>Producto Agregado a tu lista de deseos!</p>`
					const myModalAlternative = new bootstrap.Modal('#Modal')
					myModalAlternative.show()
					
					getWishList()
				})
				.catch((error)=>{
					console.log(error);
					data.modal_message = error;
					let modal_body = document.querySelector("#modal-body");
					modal_body.innerHTML = `<p>${error.response.data}</p>`
					const myModalAlternative = new bootstrap.Modal('#Modal');
					myModalAlternative.show();
					
				})
			}

			function setCategoryFilter(event){
				let category = event.target.value;
				let url = new URL(window.location.href);
				if (event.target.checked){
					url = getOrSetParam("category", category);
				}else {
					url = removeParam("category", category);
				}
				
				window.location.href = url;
			}
			function setPriceFilter(event){
				event.preventDefault();
				let min_price = event.target.min_price.value;
				let max_price = event.target.max_price.value;
				
				let url = new URL(window.location.href);
				url = getOrSetParam("min_price", min_price, false, true);
				url = getOrSetParam("max_price", max_price, url, true);
				
				window.location.href = url;
			}
			function setBrandFilter(event){
				let brand = event.target.value;
				let url = new URL(window.location.href);
				if (event.target.checked){
					url = getOrSetParam("brand", brand);
				} else {
					url = removeParam("brand", brand);
				}
				
				
				window.location.href = url;
			}

			function orderBy(event){
				const url = new URL(window.location.href);
				url.searchParams.set("o",event.target.value);
				window.location.href = url;
			}

		</script>
		
{% endblock %}
		